* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pop{
  height: 500px;
  background-color: #ffffff;
  padding: 10px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .pop{
    height: 300px;
    width: 350px;
    box-shadow: 1px solid #757573;
  }
}
.pop img{
  width: 550px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .pop img{
    width: 350px;
  }
}
.res-head{
  font-size: 20px;
}
.res-img-card{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .res-head{
    font-size: 12px;
  }
}
.attemt-para{
  color: #ecca2f;
  font-size: 20px;
}
.attemt-para span{
  color: #f1f1ee;
  font-weight: 500;
  font-family: Roboto;
}